.env
.slackr
.Renviron
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/cache/*
!data/cache/.gitkeep
data/out/*
!data/out/.gitkeep
data/processed/*
!data/processed/.gitkeep
plots/*
!plots/.gitkeep
reports/*
!reports/.gitkeep
!reports/*.Rmd
node_modules
.dropbox
Icon
Icon\r
"Icon\r"
.idea
.idea/*
_scratch/*

gmail-api-318003-d05f3621c589.json
